<app-nav-bar></app-nav-bar>
<div class="main">
    <div class="top" #animEl>
        <h1>{{ 'ServicesTitle' | translate}}</h1>
        <h3 class="ServicesSubTitle">{{ 'ServicesSubTitle' | translate}}</h3>
        <div class="items">
            <div>
                <h3>99%</h3>
                <p>{{ 'withoutWaiting' | translate}}</p>
            </div>
            <div>
                <h3>5/5</h3>
                <p>{{ 'satisfaction' | translate}}</p>
            </div>
            <div>
                <h3>+3500</h3>
                <p>{{ 'ServicesRentals' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="left">
            <div class="card" #animEl>
                <div class="cardIcon">
                    <img src="assets/Images/Services/Icons/Clock.jpg" alt="">
                </div>
                <div class="cardInfo">
                    <div class="cardTitle"><strong>{{ 'cardTitle1' | translate}}</strong></div>
                    <div> <span>{{ 'cardSubTitle1' | translate}}</span></div>
                </div>
            </div>
            <div class="card" #animEl>
                <div class="cardIcon">
                    <img src="assets/Images/Services/Icons/Driver.jpg" alt="">
                </div>
                <div class="cardInfo">
                    <div class="cardTitle"><strong>{{ 'cardTitle2' | translate}}</strong></div>
                    <div> <span>{{ 'cardSubTitle2' | translate}}</span></div>
                </div>
            </div>
            <div class="card" #animEl>
                <div class="cardIcon">
                    <img src="assets/Images/Services/Icons/Mileage.jpg" alt="">
                </div>
                <div class="cardInfo">
                    <div class="cardTitle"><strong>{{ 'cardTitle3' | translate}}</strong></div>
                    <div> <span>{{ 'cardSubTitle3' | translate}}</span></div>
                </div>
            </div>
            <div class="card" #animEl>
                <div class="cardIcon">
                    <img src="assets/Images/Services/Icons/Formalities.jpg" alt="">
                </div>
                <div class="cardInfo">
                    <div class="cardTitle"><strong>{{ 'cardTitle4' | translate}}</strong></div>
                    <div> <span>{{ 'cardSubTitle4' | translate}}</span></div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="card" #animEl>
                <div class="cardIcon">
                    <img src="assets/Images/Services/Icons/Key.jpg" alt="">
                </div>
                <div class="cardInfo">
                    <div class="cardTitle"><strong>{{ 'cardTitle5' | translate}}</strong></div>
                    <div> <span>{{ 'cardSubTitle5' | translate}}</span></div>
                </div>
            </div>
            <div class="card" #animEl>
                <div class="cardIcon">
                    <img src="assets/Images/Services/Icons/Assistance.jpg" alt="">
                </div>
                <div class="cardInfo">
                    <div class="cardTitle"><strong>{{ 'cardTitle7' | translate}}</strong></div>
                    <div> <span>{{ 'cardSubTitle7' | translate}}</span></div>
                </div>
            </div>
            <div class="card" #animEl>
                <div class="cardIcon">
                    <img src="assets/Images/Services/Icons/Accessories.jpg" alt="">
                </div>
                <div class="cardInfo">
                    <div class="cardTitle"><strong>{{ 'cardTitle8' | translate}}</strong></div>
                    <div> <span>{{ 'cardSubTitle8' | translate}}</span></div>
                </div>
            </div>
            <div class="card" #animEl>
                <div class="cardIcon">
                    <img src="assets/Images/Services/Icons/Inspected.jpg" alt="">
                </div>
                <div class="cardInfo">
                    <div class="cardTitle"><strong>{{ 'cardTitle6' | translate}}</strong></div>
                    <div> <span>{{ 'cardSubTitle6' | translate}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>