@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

.main,
body {
    width: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}


/* ******************************** Animation ******************************* */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}