@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

.main,
body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px;
    margin: 0px;
}