<div class="main">

    <!-- Large screen  -->
    <div class="largeScreen" *ngIf="!isNavbarCollapsed">
        <div class="left">
            <img src="assets/Images/Logo/logo.png" alt="">
            <!-- change with new logo here -->
        </div>
        <div class="middle">
            <h6 [routerLink]="['/']">{{"navbaritem1" | translate }}</h6>
            <h6 [routerLink]="['/Car_For_Rent']">{{"navbaritem2" | translate }}</h6>
            <h6 [routerLink]="['/Services']">{{"navbaritem3" | translate }}</h6>
            <h6 [routerLink]="['/Contact']">{{"navbaritem4" | translate }}</h6>
        </div>
        <div class="right">
            <div class="flag">
                <div class="language-selector" #dropdown (click)="toggleDropdown($event)">
                    <div class="selected-language">
                        <img [src]="currentFlag" alt="Selected Language" class="flag-icon" />
                        <i class="bi bi-caret-down-fill" *ngIf="!CaretDown"></i>
                        <i class="bi bi-caret-up-fill" *ngIf="CaretDown"></i>
                    </div>
                    <ul *ngIf="dropdownOpen" class="dropdown-menu">
                        <li (click)="switchLanguage('en', 'assets/Images/Flag/en.png', $event)">
                            <div class="lang-item">
                                <img src="assets/Images/Flag/en.png" alt="English" class="flag-icon" />
                                <span [class.active-lang]="currentLanguage === 'en'">
                                    English (GB)
                                </span>
                            </div>
                        </li>

                        <li (click)="switchLanguage('fr', 'assets/Images/Flag/fr.png', $event)">
                            <div class="lang-item">
                                <img src="assets/Images/Flag/fr.png" alt="Français" class="flag-icon" />
                                <span [class.active-lang]="currentLanguage === 'fr'">
                                    Français (FR)
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="icons">
                <a href="https://www.facebook.com/share/1BNksr6eG8/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-facebook fs-4"></i>
                </a>
                <a href="https://www.instagram.com/explore/locations/179282172828680/location-de-voiture-a-djerba-abou-mazen-car/"
                    target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram fs-4"></i>
                </a>
            </div>
            <div class="button">
                <a href="https://wa.me/21620685695?text=Hello,%20I%20would%20like%20to%20rent%20a%20car.%20Could%20you%20please%20provide%20information%20about%20availability,%20prices,%20and%20rental%20conditions?."
                    target="_blank" rel="noopener noreferrer" class="whatsapp-btn">
                    {{"navbarbutton" | translate }}
                </a>
            </div>
        </div>
    </div>

    <!-- Small screen -->
    <div class="smallScreen" *ngIf="isNavbarCollapsed">
        <div class="mobilenavbar">
            <div class="leftsmallScreen">
                <img src="assets/Images/Logo/logo.png" alt="">
                <!-- change with new logo here -->
            </div>
            <div class="rightsmallScreen">
                <i class="bi bi-x-lg fs-2 menu-icon rotate" *ngIf="isSidebarVisible" (click)="toggleSidebar()"></i>
                <i class="bi bi-list fs-2 menu-icon rotate" *ngIf="!isSidebarVisible" (click)="toggleSidebar()"></i>
            </div>
        </div>
        <div class="mobileDropdown" *ngIf="isSidebarVisible">
            <div class="navbarmenu">
                <h6 [routerLink]="['/']">{{"navbaritem1" | translate }}</h6>
                <h6 [routerLink]="['/Car_For_Rent']">{{"navbaritem2" | translate }}</h6>
                <h6 [routerLink]="['/Services']">{{"navbaritem3" | translate }}</h6>
                <h6 [routerLink]="['/Contact']">{{"navbaritem4" | translate }}</h6>
            </div>
            <div class="language" [class.language-open]="dropdownOpen">
                <div class="language-selector" #dropdown (click)="toggleDropdown($event)">
                    <div class="selected-language">
                        <img [src]="currentFlag" alt="Selected Language" class="flag-icon" />
                        <i class="bi bi-caret-down-fill" *ngIf="!CaretDown"></i>
                        <i class="bi bi-caret-up-fill" *ngIf="CaretDown"></i>
                    </div>
                    <ul *ngIf="dropdownOpen" class="dropdown-menu">
                        <li (click)="switchLanguage('en', 'assets/Images/Flag/en.png', $event)">
                            <div class="lang-item">
                                <img src="assets/Images/Flag/en.png" alt="English" class="flag-icon" />
                                <span [class.active-lang]="currentLanguage === 'en'">
                                    English (GB)
                                </span>
                            </div>
                        </li>

                        <li (click)="switchLanguage('fr', 'assets/Images/Flag/fr.png', $event)">
                            <div class="lang-item">
                                <img src="assets/Images/Flag/fr.png" alt="Français" class="flag-icon" />
                                <span [class.active-lang]="currentLanguage === 'fr'">
                                    Français (FR)
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="icons">
                <a href="https://www.facebook.com/share/1BNksr6eG8/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-facebook fs-4"></i>
                </a>
                <a href="https://www.instagram.com/explore/locations/179282172828680/location-de-voiture-a-djerba-abou-mazen-car/"
                    target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram fs-4"></i>
                </a>
            </div>
            <div class="button">
                <a href="https://wa.me/21620685695?text=Hello,%20I%20would%20like%20to%20rent%20a%20car.%20Could%20you%20please%20provide%20information%20about%20availability,%20prices,%20and%20rental%20conditions?."
                    target="_blank" rel="noopener noreferrer" class="whatsapp-btn">
                    {{"navbarbutton" | translate }}
                </a>
            </div>
        </div>
    </div>
    
</div>